
<router-outlet></router-outlet>

<a [routerLink]="'header'" [routerLinkActive]="'active'" 
[routerLinkActiveOptions]="{exact : true}"> HEADER </a> <br>

<a [routerLink]="'sidebar'" [routerLinkActive]="'active'"
[routerLinkActiveOptions]="{exact : true}"> SIDEBAR </a> <br>

<a [routerLink]="'menu'" [routerLinkActive]="'active'"
[routerLinkActiveOptions]="{exact : true}"> MENU </a> <br>

<a [routerLink]="'footer'" [routerLinkActive]="'active'"
[routerLinkActiveOptions]="{exact : true}"> FOOTER </a>

